<!--<p-fullCalendar #fc [options]="options" [events]="events"></p-fullCalendar>-->
<p-calendar [inline]="true" dateFormat="dd-mm-yyyy" [numberOfMonths]="2" [minDate]="vandaag"
            (onSelect)="onSelectPopup($event)" [disabledDates]="afspraakServicet().dagenVol"></p-calendar>

<p-dialog header="Selecteer een tijdstip" [(visible)]="display">
  Door jou gekozen datum: {{geklikt}}<br/>
  <p-dropdown [options]="tijden" [(ngModel)]="tijdstip" placeholder="Kies een tijdstip" [group]="true">
    <ng-template let-group pTemplate="group">
      <div class="p-d-flex p-ai-center">
        <span>{{group.label}}</span>
      </div>
    </ng-template>
  </p-dropdown>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p-button (click)="onClickDoorNaarStap4()" [disabled]="tijdstip == null">Selecteer {{tijdstip}}</p-button>
</p-dialog>

<br/>
<br/>
<button pButton type="button" label="Terug" class="p-button-text"
        (click)="afspraakServicet().naarVorigeStap()"></button>
