<h2>Welkom bij Maak Maar Een Afspraak</h2>

<p>Eerst willen we graag wat weten over jouw salon</p>
* = vereiste velden
<br/>
<br/>
<app-salon-instellingen [salon]="salon"></app-salon-instellingen>
<br/>
<p>Dan nog wat over jezelf</p>
<span class="p-float-label">
    <input id="naamEigenaar" type="text" pInputText [(ngModel)]="naamEigenaar"
           (change)="onChangeWerkMedewerkerBij()">
    <label for="naamEigenaar">Wat is je eigen naam? *</label>
</span>
<br/>
<p>Nu willen we graag van je weten of je alleen werkt of met meerdere personeelsleden</p>
<p-selectButton id="alleenOfMetCollegas" [options]="opties" [(ngModel)]="selectedOptie" optionLabel="name"
                (onChange)="onChangeSetOptie()"></p-selectButton>

<br/>
<button pButton type="button" label="Naar stap 2" id="naarStap2"
        (click)="onClickNaarVolgendeStap()"></button>
&nbsp;
<p-confirmDialog header="Verwijderen?" icon="pi pi-exclamation-triangle" acceptLabel="Ja"
                 rejectLabel="Nee"></p-confirmDialog>
