<h4 id="kop" *ngIf="!!salon">{{salon.naam}}</h4>
<br/>
<app-salon-instellingen [salon]="salon"></app-salon-instellingen>
<br/>
<button pButton type="button" label="Opslaan" id="opslaan" (click)="onClickOpslaan()"></button>

<p-toast position="top-left"></p-toast>
