html, body, #body2 {
  height: 100%;
  min-height: 100%;
}

app-root {
  height: 100%;
  min-height: 100%;
}

app-afspraak {
  height: 100%;
  min-height: 100%;
}

.p-steps-number {
  z-index: 0 !important;
}

.p-megamenu {
  background: #DCD9D9FF !important;
  width: 298px !important;
  border-bottom: 0px !important;
  border-radius: 0px !important;
}

/** stap 2 aanmelden **/
.p-fieldset-legend {
  width: 333px;
}
