<span *ngIf="huidigeStap()<5">
<p-steps [model]="this.afspraakService.stepItem" [activeIndex]="huidigeStap() - 1 "></p-steps>
<br/>
<br/>
</span>

<app-zoeksalon *ngIf="huidigeStap() == 1"></app-zoeksalon>

<app-selecteer-medewerker-en-behandeling *ngIf="huidigeStap() == 2"></app-selecteer-medewerker-en-behandeling>

<app-tijdstipbepalen *ngIf="huidigeStap() == 3"></app-tijdstipbepalen>

<app-overzicht *ngIf="huidigeStap() == 4" (inloggenEventEmmitter)="inloggenStap4($event)"
               [events]="uitloggenEventsSubject.asObservable()"></app-overzicht>
