<!--<ngx-qrcode-->
<!--  [elementType]="elementType"-->
<!--  [errorCorrectionLevel]="correctionLevel"-->
<!--  [value]="value"-->
<!--  cssClass="bshadow"></ngx-qrcode>-->

<p-dropdown *ngIf="medewerkersLijst.length > 1" [options]="medewerkersLijst" [(ngModel)]="afspraakService.medewerkerId"
            optionLabel="naam"
            optionValue="id" [showClear]="true" filter="true" (onChange)="onModelChangeMedewerker($event)"
            placeholder="Selecteer eventueel door wie je geholpen wilt worden" xmlns="http://www.w3.org/1999/html">
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="afspraakService.medewerkerId">
      <div style="width: 50px; float: left;">
        <img *ngIf="geselecteerdeMedewerker().avatarAanwezig" src="assets/{{geselecteerdeMedewerker().id}}.jpg"
             style="width:40px;"/>
        <p-avatar *ngIf="!geselecteerdeMedewerker().avatarAanwezig"
                  label="{{initialen(geselecteerdeMedewerker().id)}}"></p-avatar>
      </div>
      <span>{{geselecteerdeMedewerker().naam}}</span>
    </div>
  </ng-template>
  <ng-template let-medewerker pTemplate="item">
    <div class="country-item">
      <span style="width: 50px; float: left;">
        <img *ngIf="medewerker.avatarAanwezig" src="assets/{{medewerker.id}}.jpg" style="width:40px;"/>
        <p-avatar *ngIf="!medewerker.avatarAanwezig" label="{{initialen(medewerker.id)}}"></p-avatar>
      </span>
      <span>{{medewerker.naam}}</span>
    </div>
  </ng-template>
</p-dropdown>
<br />

<p-pickList [source]="afspraakService.list1" [target]="afspraakService.list2" [showSourceControls]="false"
            [showTargetControls]="false" responsive="true" sourceHeader="{{sourceHeader()}}"
            targetHeader="{{targetHeader()}}">
  <ng-template let-behandeling pTemplate="item">
    <table style="width: 100%;">
      <tr>
        <td style="width: 10%;">
          <img *ngIf="behandeling.avatarAanwezig" src="assets/behandeling{{behandeling.id}}.png"
               style="display:inline-block;margin:2px 0 2px 2px" width="48">
          <p-avatar *ngIf="!behandeling.avatarAanwezig" label="{{initialenBehandeling(behandeling)}}"></p-avatar>
        </td>
        <td style="width: 70%;">
          <h3 style="margin-block-start: 0; margin-block-end: 0;">{{behandeling.naam}}</h3>
          <div style="font-size: 12px;">
          {{behandeling.omschrijving}}
          </div>
        </td>
        <td style="width: 20%; font-size: 14px;">
          &euro;&nbsp;{{afspraakService.prijsOpgemaakt(behandeling.prijs)}}
          <br/>
          <span class="pi pi-clock"></span>
          {{tijdsduurOpgemaakt(behandeling.tijdsduur)}}
        </td>
      </tr>
    </table>
  </ng-template>
</p-pickList>

<button pButton type="button" label="Terug" class="p-button-text" (click)="afspraakService.naarVorigeStap()"></button>
<p-button label="Verder" [disabled]="afspraakService.list2.length == 0" (click)="naarVolgendeStap()"></p-button>
