<p-dropdown [options]="salons" [(ngModel)]="afspraakInfo().stap1.salon.id" optionLabel="naam" filterBy="naam,plaats"
            optionValue="id" [showClear]="true" filter="true" placeholder="Zoek hier jouw salon"
            (onChange)="ophalenSalonGegevens()">
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="afspraakInfo().stap1.salon.id!=null">
      <div style="width: 50px; float: left;">
        <img *ngIf="geselecteerdeSalon().avatarAanwezig" src="assets/{{geselecteerdeSalon().id}}.jpg"
             style="width:40px;"/>
        <p-avatar *ngIf="!geselecteerdeSalon().avatarAanwezig"
                  label="{{initialen(geselecteerdeSalon().id)}}"></p-avatar>
      </div>
      <span>{{geselecteerdeSalon().naam}}</span>
      <br/>
      <span style="font-size: 12px;">{{adresregel()}}</span>
    </div>
  </ng-template>
  <ng-template let-salon pTemplate="item">
    <div class="country-item">
      <span style="width: 50px; float: left;">
        <img *ngIf="salon.avatarAanwezig" src="assets/{{salon.id}}.jpg" style="width:40px;"/>
        <p-avatar *ngIf="!salon.avatarAanwezig" label="{{initialen(salon.id)}}"></p-avatar>
      </span>
      <span>{{naamEnPlaatsSalon(salon.id)}}</span>
    </div>
  </ng-template>
</p-dropdown>
<p-button label="Verder" [disabled]="verderKnopDisabled()"
          (click)="naarVolgendeStap()"></p-button>
