<app-stap1 *ngIf="aanmeldenService.huidigeStap == 1"></app-stap1>
<app-stap2 *ngIf="aanmeldenService.huidigeStap == 2"></app-stap2>
<app-stap3 *ngIf="aanmeldenService.huidigeStap == 3"></app-stap3>
<app-stap4 *ngIf="aanmeldenService.huidigeStap == 4"></app-stap4>
<app-stap5 *ngIf="aanmeldenService.huidigeStap == 5"></app-stap5>
