<div [formGroup]="form">
  <span class="p-float-label">
      <input id="naamSalon" type="text" pInputText formControlName="naamSalon"/>
      <label for="naamSalon">Wat is de naam van je salon? *</label>
  </span>
  <br/>
  <span class="p-float-label" style="display: inline">
    <input id="postcode" pInputText class="postcode" formControlName="postcode" (change)="onChangeCheckPostcode()">
    <label for="postcode">Postcode</label>
  </span>
  <span class="p-float-label" style="display: inline">
      <input id="huisnummer" type="text" pInputText class="huisnummer" formControlName="huisnummer"
             (change)="onChangeCheckHuisNummer()">
      <label for="huisnummer">Huisnummer</label>
  </span>
  <br/>
  <br/>
  <span class="p-float-label">
      <input id="adres" type="text" pInputText formControlName="adres">
      <label for="adres">Straatnaam</label>
  </span>
  <br/>
  <span class="p-float-label">
      <input id="plaats" type="text" pInputText formControlName="plaats">
      <label for="plaats">Plaats</label>
  </span>
  <br/>
  <span class="p-float-label">
      <input id="telefoonnummer" type="text" pInputText formControlName="telefoonnummer">
      <label for="telefoonnummer">Telefoonnummer</label>
  </span>
  <br/>
  <span class="p-float-label">
      <input id="email" type="email" pInputText formControlName="email">
      <label for="email">E-mailadres *</label>
  </span>
</div>
