<div class="wrapper">
  <div class="vol-hoogte">
    <p-megaMenu [model]="megaMenuItems" orientation="vertical">
      <ng-template pTemplate="start">
        <p-avatar class="avatar"
                  *ngIf="inloggenService.ingelogd!=null&&inloggenService.ingelogd.photoUrl != null"
                  image="{{inloggenService.ingelogd.photoUrl}}" shape="circle"></p-avatar>
        <p-avatar class="avatar"
                  *ngIf="inloggenService.ingelogd!=null&&inloggenService.ingelogd.photoUrl == null"
                  label="{{initialen(inloggenService.ingelogd.naam)}}"></p-avatar>
      </ng-template>
    </p-megaMenu>
  </div>

  <div class="rechts">
    <router-outlet></router-outlet>
  </div>
</div>
<p-dialog header="Inloggen" [(visible)]="inloggenService.wilInloggen" [style]="{width: '50%'}">
  <div class="login_wrapper">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"><a href="#" (click)="inloggenService.signInWithFB()"
                                                           class="btn btn-primary facebook">
        <span>Login with Facebook</span>&nbsp;&nbsp;<i class="pi pi-facebook"></i> </a></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"><a href="#" (click)="inloggenService.signInWithGoogle()"
                                                           class="btn btn-primary google-plus"> Login with
        Google&nbsp;<i class="pi pi-google"></i> </a></div>
    </div>
    <br/>
    <h3>of</h3>
    <br/>
    <div class="alert alert-danger" role="alert" *ngIf="inloggenService.inloggenFoutmelding!=null">
      {{inloggenService.inloggenFoutmelding}}
    </div>
    <span class="p-float-label">
        <input id="emailadres" type="text" pInputText [(ngModel)]="inloggenMail">
        <label for="emailadres">E-mailadres</label>
    </span>
    <br/>
    <br/>
    <span class="p-float-label">
        <input id="wachtwoord" type="password" feedback="false" pPassword [(ngModel)]="inloggenPass">
        <label for="wachtwoord">Wachtwoord</label>
    </span>
    <br/>
    <br/>
    <button pButton type="button" label="Inloggen" (click)="onclickInloggen()"></button>
  </div>
</p-dialog>
<p-toast position="top-left"></p-toast>
