<h4>Medewerkers</h4>
<br/>
<app-medewerkers [medewerkers]="medewerkers" (medewerkerOplsaanEventEmitter)="medewerkerOpslaan($event)"
                 (medewerkerVerwijderenEventEmitter)="medewerkerVerwijderen($event)"
                 eersteMedewerkerWijzigbaar="true"></app-medewerkers>
