<p-timeline [value]="events" align="alternate">
  <!--  <ng-template pTemplate="marker" let-event>-->
  <!--        <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">-->
  <!--            <i [ngClass]="event.icon"></i>-->
  <!--        </span>-->
  <!--  </ng-template>-->
  <ng-template pTemplate="content" let-event>
    <p-card [header]="maakDatumOp(event.tijdstip)" [subheader]="event.salon">
      <table>
        <tr *ngFor="let behandeling of event.behandelingen; let i = index">
          <td *ngIf="i == 0">Behandelingen :</td>
          <td *ngIf="i > 0">&nbsp;</td>
          <td>{{behandeling}}</td>
        </tr>
        <tr *ngIf="event.medewerker">
          <td>Voorkeur voor medewerker :</td>
          <td>{{event.medewerker}}</td>
        </tr>
        <tr *ngIf="event.opmerking">
          <td>Opmerking :</td>
          <td>{{event.opmerking}}</td>
        </tr>
      </table>
    </p-card>
  </ng-template>
</p-timeline>
