<p>Welke behandelingen voer je uit?</p>
<br/>

<p-treeTable [value]="aanmeldenService.aanmelden.behandelingen">
  <ng-template pTemplate="header">
    <tr>
      <th>Naam van behandeling</th>
      <th>Tijdsduur</th>
      <th>Prijs</th>
      <ng-container *ngIf="aanmeldenService.aanmelden.medewerkers.length>1">
        <th *ngFor="let medewerker of aanmeldenService.aanmelden.medewerkers">
          {{voornaam(medewerker.naam)}}
        </th>
      </ng-container>
      <th style="width:50px;">&nbsp;</th>
      <th style="width:50px;">&nbsp;</th>
      <th style="width:75px;">&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-i="index">
    <tr>
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <span id="{{rowData.index}}-naam-display" *ngIf="!rowData.editMode">{{rowData.naam}}</span>
        <span *ngIf="rowData.editMode">
          <input id="{{rowData.index}}-naam-edit" *ngIf="rowData.editMode" type="text" pInputText
                 [(ngModel)]="rowData.naam">
        </span>
      </td>
      <td>
        <span *ngIf="rowData.tijdsduur != null">
          <span *ngIf="rowData.editMode">
            <p-inputNumber id="{{rowData.index}}-tijdsduur-edit" [(ngModel)]="rowData.tijdsduur" [step]="15" [min]="15"
                           suffix=" minuten"
                           (onBlur)="onChangeCheckTijdsduur(rowData.id)"></p-inputNumber>
          </span>
          <span *ngIf="!rowData.editMode" id="{{rowData.index}}-tijdsduur-display" display>
            <i class="pi pi-clock"></i>&nbsp;{{rowData.tijdsduur}}<span> minuten</span>
          </span>
        </span>
      </td>
      <td>
        <span *ngIf="rowData.prijs != null">
          <span *ngIf="rowData.prijs != null && !rowData.editMode"
                id="{{rowData.index}}-prijs-display">€&nbsp;{{rowData.prijs}}</span>
          <p-inputNumber id="{{rowData.index}}-prijs-edit" *ngIf="rowData.editMode" [(ngModel)]="rowData.prijs"
                         mode="currency" currency="EUR"
                         locale="nl-NL"></p-inputNumber>
        </span>
      </td>
      <ng-container *ngIf="rowData.medewerkers!=null && rowData.medewerkers.length>1">
        <td *ngFor="let medewerker of rowData.medewerkers">
          &nbsp;&nbsp;<p-checkbox *ngIf="medewerker.tonen" [(ngModel)]="medewerker.aanwezig"
                                  [binary]="true"></p-checkbox>
        </td>
      </ng-container>
      <td>
        <button pButton *ngIf="rowData.tijdsduur == null" icon="pi pi-plus"
                class="p-button-rounded p-button-error kleine-button"
                title="Voeg een Behandeling toe aan Categorie {{rowData.naam}}."
                (click)="onClickBehandelingToevoegen(rowData.id)"></button>
      </td>
      <td>
        <button title="Sla de Categorie of Behandeling met de naam {{rowData.naam}} op." pButton icon="pi pi-save"
                class="p-button-rounded p-button-success kleine-button"
                id="{{rowData.index}}-opslaan"
                (click)="opslaan(rowData.id)" *ngIf="rowData.editMode"></button>
        <button title="Bewerk de Categorie of Behandeling met de naam {{rowData.naam}}." pButton icon="pi pi-pencil"
                class="p-button-rounded p-button-warning kleine-button"
                (click)="editModeAan(rowData.id)" *ngIf="!rowData.editMode"></button>
      </td>
      <td>
        <button title="Verwijder de Categorie of Behandeling met de naam {{rowData.naam}}" pButton icon="pi pi-trash"
                class="p-button-rounded p-button-danger kleine-button"
                (click)="verwijder(rowData.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-treeTable>

<br/>
<button pButton id="categorieToevoegen" label="Categorie toevoegen" icon="pi pi-plus"
        class="p-button-rounded p-button-error kleine-button"
        (click)="onClickCategorieToevoegen()"></button>

<br/>
<button pButton type="button" label="Terug" class="p-button-text"
        (click)="aanmeldenService.onClickNaarVorigeStap()"></button>
&nbsp;
<button pButton label="Bevestigen" id="bevestigenButton" (click)="onClickBevestigEnNaarDeBackend()"></button>

<p-confirmDialog #cd header="Verwijderen?" icon="pi pi-exclamation-triangle"
                 acceptLabel="Ja" rejectLabel="Nee">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Nee" id="bevestigenNee" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Ja" id="bevestigenJa" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
