<div style="text-align:center;">
  <div style="width: 500px;text-align:left;">
    <div *ngIf="!wachtwoordGewijzigd">
      <span class="p-float-label">
        <input type="password" pPassword [(ngModel)]="nieuwWachtwoord" [feedback]="false" id="nieuwWachtwoord"
               name="nieuwWachtwoord" [ngClass]="{'dirty': !komenWachtwoordenOvereen()}"
               promptLabel="Voer een nieuw wachtwoord in." weakLabel="Zwak wachtwoord"
               mediumLabel="Niet heel sterk wachtwoord"
               strongLabel="Goed wachtwoord"/>
        <label for="nieuwWachtwoord">Nieuw wachtwoord</label>
      </span>
      <password-strength-meter [password]="nieuwWachtwoord"
                               (strengthChange)="onPasswordStrengthChanged($event)">>
      </password-strength-meter>
      <span class="p-float-label" style="margin-top: 35px;">
        <input type="password" pPassword [(ngModel)]="nieuwWachtwoordNogmaals" [feedback]="false"
               id="nieuwWachtwoordNogmaals"
               name="nieuwWachtwoordNogmaals" [ngClass]="{'ng-invalid ng-dirty': !komenWachtwoordenOvereen()}"/>
        <label for="nieuwWachtwoordNogmaals">Nieuw wachtwoord (nogmaals)</label>
        <small *ngIf="!komenWachtwoordenOvereen()" id="ingevulden-wachtwoorden-komen-niet-overeen-error"
               class="p-error">De ingevulde wachtwoorden komen niet overeen.</small>
      </span>
      <p-button id="wijzigWachtwoordButton" [disabled]="!wijzigKnopEnabled()" (click)="wijzigWachtwoord()">
        Wijzig
      </p-button>
    </div>
    <div *ngIf="wachtwoordGewijzigd">
      <p>Je wachtwoord is gewijzigd, je kunt nu inloggen met je nieuwe wachtwoord!</p>
    </div>
  </div>
</div>
