<h4>Wat zijn de mensen met wie je samenwerkt?</h4>
<app-medewerkers [medewerkers]="aanmeldenService.aanmelden.medewerkers"
                 eersteMedewerkerWijzigbaar="false"></app-medewerkers>
<br/>
<button pButton type="button" label="Terug" class="p-button-text"
        (click)="aanmeldenService.onClickNaarVorigeStap()"></button>
&nbsp;
<button pButton type="button" label="Naar stap 3" id="naarStap3"
        (click)="aanmeldenService.onClickNaarVolgendeStap()"></button>
