<p>Wat zijn je openingstijden?</p>

<div *ngFor="let dag of aanmeldenService.aanmelden.dagenMetTijden; let dagI = index">
  <p-fieldset legend="{{dag.dag.name}}">
    <table style="float: left;" *ngIf="dag.tijden.length>0">
      <thead>
      <td colspan="3"></td>
      <ng-container *ngIf="aanmeldenService.aanmelden.medewerkers.length>1">
        <td *ngFor="let medewerker of aanmeldenService.aanmelden.medewerkers">
          &nbsp;&nbsp;{{voornaam(medewerker.naam)}}
        </td>
      </ng-container>
      </thead>
      <ng-container *ngFor="let tijd of dag.tijden, let i = index">
        <!--      <tr *ngFor="let tijd of dag.tijden, let i = index">-->
        <tr>
          <td>
            <p-inputMask id="dag-{{dagI}}-tijd-{{i}}-start" mask="99:99" [(ngModel)]="tijd.start"
                         (change)="onChangeValidateTijd(dag,i,true)"></p-inputMask>
          </td>
          <td>
            <p-inputMask id="dag-{{dagI}}-tijd-{{i}}-eind" mask="99:99" [(ngModel)]="tijd.eind"
                         (change)="onChangeValidateTijd(dag,i,false)"></p-inputMask>
          </td>
          <td>
            &nbsp;<button pButton type="button" icon="pi pi-minus"
                          class="p-button-raised p-button-rounded p-button-danger kleine-button"
                          (click)="onClickTijdVerwijderen(dag,i)"></button>
          </td>
          <ng-container *ngIf="aanmeldenService.aanmelden.medewerkers.length>1">
            <td *ngFor="let medewerker of tijd.medewerkers">
              &nbsp;&nbsp;<p-checkbox [(ngModel)]="medewerker.aanwezig" [binary]="true"></p-checkbox>
            </td>
          </ng-container>
          <td>
            &nbsp;&nbsp;&nbsp;<button pButton icon="pi pi-plus"
                                      class="p-button-raised p-button-rounded p-button-error kleine-button"
                                      *ngIf="i == 0"
                                      (click)="onClickTijdToevoegen(dag)"></button>
          </td>
        </tr>
        <tr *ngIf="!tijd.startVoorEind||!tijd.startTijdGeldig||!tijd.eindTijdGeldig">
          <td [colSpan]="3+ aanmeldenService.aanmelden.medewerkers.length">
            <p-messages severity="error">
              <ng-template pTemplate>
                <div *ngIf="!tijd.startVoorEind" class="p-ml-2">Begintijd moet voor Eindtijd liggen</div>
                <div *ngIf="!tijd.startTijdGeldig" class="p-ml-2">De ingevulde Begintijd is niet geldig</div>
                <div *ngIf="!tijd.eindTijdGeldig" class="p-ml-2">De ingevulde Eindtijd is niet geldig</div>
              </ng-template>
            </p-messages>
          </td>
        </tr>
      </ng-container>
    </table>
    &nbsp;&nbsp;<button pButton icon="pi pi-plus" class="p-button-raised p-button-rounded p-button-error kleine-button"
                        *ngIf="dag.tijden.length==0"
                        (click)="onClickTijdToevoegen(dag)"></button>
  </p-fieldset>
  <br/>
</div>
<br/>
<button pButton type="button" label="Terug" class="p-button-text"
        (click)="aanmeldenService.onClickNaarVorigeStap()"></button>
&nbsp;
<button pButton type="button" label="Naar stap {{aanmeldenService.aanmelden.medewerkers.length==1 ? 3 : 4}}"
        id="naarStap4"
        (click)="aanmeldenService.onClickNaarVolgendeStap()"></button>
<p-confirmDialog header="Verwijderen?" icon="pi pi-exclamation-triangle" acceptLabel="Ja"
                 rejectLabel="Nee"></p-confirmDialog>
