<button pButton id="medewerkerToevoegen" label="Medewerker toevoegen" icon="pi pi-plus"
        class="p-button-rounded p-button-error "
        (click)="onClickMedewerkerToevoegen()"></button>

<p-table [value]="medewerkers">
  <ng-template pTemplate="header">
    <tr>
      <th class="naam">Naam</th>
      <th class="knoppen">&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-medewerker let-rowIndex="rowIndex">
    <tr>
      <td>
        <input pInputText id="editMedewerker{{rowIndex}}" type="text" [(ngModel)]="medewerker.naam"
               *ngIf="editMode == rowIndex" style="width:500px;"/>
        <span id="displayMedewerker{{rowIndex}}" *ngIf="editMode != rowIndex">{{medewerker.naam}}</span>
      </td>
      <td>
        <button pButton icon="pi pi-pencil"
                id="bewerkMedewerker{{rowIndex}}"
                *ngIf="editMode != rowIndex && (rowIndex != 0 || (rowIndex == 0 && eersteMedewerkerWijzigbaar === 'true'))"
                class="p-button-rounded p-button-warning kleine-button"
                title="Pas de naam van {{medewerker.naam}} aan."
                (click)="onClickBewerkNaam(rowIndex)"></button>
        <button pButton icon="pi pi-save"
                id="opslaanMedewerker{{rowIndex}}"
                *ngIf="editMode == rowIndex"
                class="p-button-rounded p-button-success kleine-button"
                title="Sla de wijzigingen op."
                (click)="onClickOpslaan()"></button>
        <button pButton icon="pi pi-times"
                id="cancelMedewerker{{rowIndex}}"
                *ngIf="editMode == rowIndex"
                class="p-button-rounded p-button-secundary kleine-button"
                title="Annuleren"
                (click)="onClickAnnuleren()"></button>
        <button pButton icon="pi pi-trash"
                id="verwijderMedewerker{{rowIndex}}"
                *ngIf="editMode != rowIndex && (rowIndex != 0 || (rowIndex == 0 && eersteMedewerkerWijzigbaar === 'true'))"
                class="p-button-rounded p-button-danger kleine-button"
                title="Verwijder {{medewerker.naam}}."
                (click)="onClickVerwijder(rowIndex)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog #cd header="Verwijderen?" icon="pi pi-exclamation-triangle"
                 acceptLabel="Ja" rejectLabel="Nee">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Nee" id="bevestigenNee" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Ja" id="bevestigenJa" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<p-toast position="top-left"></p-toast>
