<div class="p-component">
  <h1 *ngIf="!afspraakGemaakt">Afspraakoverzicht</h1>
  <h1 *ngIf="afspraakGemaakt">Afspraak gemaakt</h1>
  <label class="breed">Salon :</label>{{afspraakInfo().stap1.salon.naam}}<br/>
  <span *ngIf="afspraakInfo().stap2.medewerker !=null">
    <label class="breed">Voorkeur voor medewerker :</label>{{afspraakInfo().stap2.medewerker.naam}}<br/>
  </span>
  Behandeling(en) :<br/>
  <div *ngFor="let behandeling of afspraakInfo().stap2.behandelingen">
    <label class="kort">{{behandeling.naam}}</label>&euro;&nbsp;{{afspraakService.prijsOpgemaakt(behandeling.prijs)}}
    , {{tijdsduurOpgemaakt(behandeling.tijdsduur)}}<br/>
  </div>
  <label class="breed">Totaalprijs :</label>&euro;&nbsp;{{afspraakService.prijsOpgemaakt(totaalprijs())}}<br/>
  <label class="breed">Totale tijdsduur :</label>{{tijdsduurOpgemaakt(tijdsduur())}}<br/>
  <label class="breed">Datum :</label>{{datum()}}<br/>
  <label class="breed">Tijd :</label>{{afspraakInfo().stap3.tijd}}<br/>
  <label class="breed">Opmerking :</label><textarea [disabled]="afspraakGemaakt" pInputTextarea
                                                    [(ngModel)]="afspraakInfo().opmerking"
                                                    autoResize="autoResize"></textarea><br/>
  <h2>Klantgegevens</h2>
  <span *ngIf="!klantIsLeeg()">
    <label class="breed">Naam :</label>{{afspraakService.klant.naam}}<br/>
    <label class="breed">E-mail adres :</label>{{afspraakService.klant.emailadres}}<br/>
    <span *ngIf="afspraakService.klant.telefoonnummer != null">
        <label class="breed">Telefoonnummer :</label>{{afspraakService.klant.telefoonnummer}}<br/>
    </span>
  </span>
  <span *ngIf="klantIsLeeg()">
    Je bent niet ingelogd, je kunt de afspraak vastleggen door hieronder een e-mailadres op te geven. Naar dit e-mailadres wordt dan een bevestiging gestuurd.
    <br/>
    <label class="breed" for="naam">Naam</label><input id="naam" type="text" pInputText
                                                       [(ngModel)]="naamKlant"><br/>
    <br/>
    <label class="breed" for="emailadres">E-mailadres</label><input id="emailadres" type="text" pInputText
                                                                    [(ngModel)]="emailadresKlant"><br/>
    <br/>
    <label class="breed" for="telefoon">Telefoonnummer</label><input id="telefoon" type="text" pInputText
                                                                     [(ngModel)]="telefoonKlant"
                                                                     (change)="zetTelefoonKlantOm()"><br/>
    <br/>
    Of klik <a href="#" (click)="onClickAccountMakenPopupTonen()">hier</a> om een account aan te maken, hiermee kun je in de toekomst al je afspraken inzien.
  </span>


  <br/>
  <br/>
  <button pButton type="button" label="Terug" class="p-button-text"
          (click)="afspraakServicet().naarVorigeStap()"></button>
  <p-button *ngIf="!afspraakGemaakt" label="Bevestigen" [disabled]="bevestigenKnopDisabled()"
            (click)="onClickBevestigen()"></p-button>
</div>

<p-dialog header="Account aanmaken" [(visible)]="wilEenAccountAanmaken">
  <br/>
  <br/>
  <br/>
  <div class="accountaanmaken-span">
    <span class="p-float-label">
        <input class="accountaanmaken" id="accountAanmakenNaam" type="text" pInputText
               [(ngModel)]="accountAanmakenNaam">
        <label for="accountAanmakenNaam">Naam</label>
    </span>
    <br/>
    <br/>
    <span class="p-float-label">
        <input class="accountaanmaken" id="accountAanmakenTelefoon" type="text" pInputText
               (change)="zetAccountAanmakenTelefoonOm()"
               [(ngModel)]="accountAanmakenTelefoon">
        <label for="accountAanmakenTelefoon">Telefoonnummer (optioneel)</label>
    </span>
    <br/>
    <br/>
    <span class="p-float-label">
        <input class="accountaanmaken" id="accountAanmakenMail" type="text" pInputText
               [(ngModel)]="accountAanmakenMail">
        <label for="accountAanmakenMail">E-mailadres</label>
    </span>
    <br/>
    <br/>
    <span class="p-float-label">
      <input class="accountaanmaken" type="password" pPassword [(ngModel)]="accountAanmakenWachtwoord"
             [feedback]="false" id="nieuwWachtwoord"
             name="nieuwWachtwoord" [ngClass]="{'dirty': !wachtwoordenKomenOvereen()}"
             promptLabel="Voer een nieuw wachtwoord in." weakLabel="Zwak wachtwoord"
             mediumLabel="Niet heel sterk wachtwoord"
             strongLabel="Goed wachtwoord"/>
      <label for="nieuwWachtwoord">Nieuw wachtwoord</label>
    </span>
    <password-strength-meter [password]="accountAanmakenWachtwoord"
                             (strengthChange)="onPasswordStrengthChanged($event)">>
    </password-strength-meter>
    <span class="p-float-label" style="margin-top: 35px;">
      <input class="accountaanmaken" type="password" pPassword [(ngModel)]="accountAanmakenWachtwoordNogmaals"
             [feedback]="false"
             id="nieuwWachtwoordNogmaals"
             name="nieuwWachtwoordNogmaals" [ngClass]="{'ng-invalid ng-dirty': !wachtwoordenKomenOvereen()}"/>
      <label for="nieuwWachtwoordNogmaals">Nieuw wachtwoord (nogmaals)</label>
      <br/>
      <small *ngIf="!wachtwoordenKomenOvereen()" id="ingevulden-wachtwoorden-komen-niet-overeen-error"
             class="p-error">De ingevulde wachtwoorden komen niet overeen.</small>
    </span>
  </div>
  <br/>
  <br/>
  <button pButton type="button" label="Account aanmaken" [disabled]="!accountAanmakenKnopDisabled()"
          (click)="onClickAccountMaken()"></button>
</p-dialog>
<p-toast position="top-left"></p-toast>
