.breed {
  width: 250px;
  display: inline-block;
}

.kort {
  width: 175px;
  display: inline-block;
}

.accountaanmaken {
  width: 300px;
}

.accountaanmaken-span {
  padding-left: 100px;
  padding-right: 100px;
}
