<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<p>Hoi <span th:text="${medewerker.naam}"></span>,</p>
<p>Wat leuk dat je je salon <span th:text="${salon.naam}"></span> hebt ingeschreven bij Maak Maar Een Afspraak</p>
<p>Inloggen kan met de gebruikersnaam <span th:text="${medewerker.gebruikersnaam}"></span> en een zelf gekozen
    wachtwoord, dat wachtwoord kun je instellen met de link hieronder.</p>
<p>Je activatielink is : <a
        th:href="@{http://localhost:4200/wijzigwachtwoord.html?code={code}(code = ${medewerker.wijzigWachtwoordCode})}">klik
    hier</a></p>
</body>
</html>